@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* shadcn colors */

  :root,
  #shadow-html {
    --radius: 0.5rem;
  }

  [data-theme="light"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --border: 20 5.9% 90%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: 0 0% 7.1%;
    --foreground: 60 9.1% 97.8%;

    --border: 0 0% 22.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-theme-foreground;
  }
}

.prose {
  table * {
    font-size: 1rem;
  }

  table table {
    margin: 0;
  }

  p {
    @apply break-words;
  }

  word-break: break-word;
}

@layer utilities {
  [data-hide-in-print] {
    @apply print:!hidden;
  }
}

i {
  @apply select-none;
}
